target/
bin/
node_modules/
dist/
/templates/

.flattened-pom.xml
yarn-error.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Local .properties ###

application-local*.properties

